* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	background-color: #fff;
	background-image: url(../images/bg.png);
	background-repeat: repeat-x;
	font-family: Arial, sans-serif;
	height: 100%;
}
h1 {
	font-size: 22px;
	font-weight: bold;
	color: #113848;
	text-transform: uppercase;
}
h2 {
	font-size: 20px;
	font-weight: bold;
	color: #404040;
	text-transform: uppercase;
}
h3 {
	font-size: 16px;
	font-weight: bold;
	color: #404040;
	text-transform: uppercase;
}
p {
	font-size: 13px;
	color: #505050;
	line-height: 20px;
}
a {
	font-size: 13px;
	color: #f67f19;
	text-transform: uppercase;
	text-decoration: none;
}

#wrap {
	width: 820px;
	margin: 0 auto;
	min-height: 100%;
}
#top {
	height: 71px;
	overflow: hidden;
}
#top img {
	margin-top: 19px;
}
#top form {
	float: right;
	font-size: 11px;
	font-weight: bold;
	color: #4c4c4c;
	font-style: oblique;
	line-height: 71px;
}
#top form span {
	color: #fff;
}
#top form input {
	background-color: #373737;
	border: none;
	color: #f57514;
	font-size: 12px;
	font-weight: bold;
	padding: 9px 43px;
	border-radius: 2px;
	box-shadow: inset 1px 1px 1px 0 #2d2d2d,
				1px 1px 1px 0 #151515;	
	margin-left: 22px;
}
#nav {
	height: 60px;
}
#nav ul{
	list-style: none;
	overflow: hidden;
	line-height: 60px;
}
#nav ul li {
	float: left;
	margin-right: 27px;
}
#nav ul li a {
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	padding: 7px 20px;
	border-radius: 12px;
}
#nav ul li a:hover {
	background-color: #e46000;

}
#header {
	height: 300px;
	background-image: url(../images/header.png);
	background-repeat: no-repeat;
	background-position: -7px 100%;
	position: relative;
}
#text {
	width: 391px;
	position: absolute;
	right: 0;
	top: 75px;
}
#header h1 {
	padding-bottom: 18px;
	border-bottom: 1px solid #ef8b21;
	border-bottom: 1px solid rgba (0, 0, 0, 0.03);
}
#header p {
	font-size: 14px;
	color: #353535;
	text-align: justify;
	padding-top: 16px;
	border-top: 1px solid #f89c39;
	border-top: 1px solid rgba (255, 255, 255, 0.1);
}

#content {
	
}
.row {
	overflow: hidden;
	margin: 45px 0;
}
.line {
	border-top: 1px solid #fbfbfb;
	border-bottom: 1px solid #f0f0f0;
}
.section1 {
	width: 220px;
	float: left;
	margin-right: 80px;
}
.section1 h2 {
	background-repeat: no-repeat;
	padding-left: 60px;
	height: 44px;
}
.section1 p {
	margin: 15px 0 14px 0;
}
.section1 a {
	float: right;
}
#photography {
	background-image: url(../images/photography.png);
	background-repeat: no-repeat;
	padding-left: 60px;
}
#business {
	background-image: url(../images/business.png);
	background-repeat: no-repeat;
	padding-left: 60px;
}
#designing {
	background-image: url(../images/designing.png);
	background-repeat: no-repeat;
	padding-left: 60px;
}
.section1 h2 span {
	font-size: 14px;
	color: #707070;
	display: block;
}
.section2 {
	width: 400px;
	float: left;
	margin-right: 20px;
}
.section2 h3 {
	margin-bottom: 16px;
}
.section2 {
	width: 400px;
}
.section2 .pic1,.pic2,.pic3,.pic4 {
	width: 190px;
	height: 51px;
	padding: 3px 3px;
	border: 1px solid #ececec;
	border-radius: 2px;
	display: inline-block;
}
.section2 .pic1 {
	
}
.section2 .pic2 {
	
}
.section2 .pic3 {
	
}
.section2 .pic4 {
	
}

#footer {
	background-color: #191919;
	height: 68px;
}

#footercontent {
	width: 820px;
	margin: 0 auto;
	overflow: hidden;
	line-height: 66px;
}
#footer img {
	vertical-align: middle;
	margin-right: 19px;
}

#footer ul {
	list-style: none;
	float: right;
	line-height: 66px;
}
#footer ul li {
	float: left;
	margin-left: 10px;
}

#footer span {
	font-size: 10px;
	font-weight: bold;
	color: #4a4a4a;
}
#footer ul li a:hover {
	color: #fff;
}


.marnone {
	margin-right: 0;
}	