* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	background-color: #fff;
	background-image: url(../images/bg.png);
	background-repeat: repeat-x;
	font-family: Arial, sans-serif;
	font-size: 100%;
	height: 100%;
}
h1 {
	font-size: 1.375em;/*22px*/
	font-weight: bold;
	color: #113848;
	text-transform: uppercase;
}
h2 {
	font-size: 1.25em;/*20px*/
	font-weight: bold;
	color: #404040;
	text-transform: uppercase;
}
h3 {
	font-size: 1em;/*16px*/
	font-weight: bold;
	color: #404040;
	text-transform: uppercase;
}
p {
	font-size: 0.81em;/*13px====13:16px*/
	color: #505050;
	line-height: 20px;
}
a {
	font-size: 0.81em;/*13px====13:16px*/
	color: #f67f19;
	text-transform: uppercase;
	text-decoration: none;
}
#wrap {
	width: 57.5%;/*820px*/
	margin: 0 auto;
	min-height: 100%;
}
#top {
	height: 71px;
	overflow: hidden;
}
#top img {
	margin-top: 19px;
}
#top form {
	float: right;
	font-size: 0.6875em;/*11px====11px:16px*/
	font-weight: bold;
	color: #4c4c4c;
	font-style: oblique;
	line-height: 71px;
}
#top form span {
	color: #fff;
}
#top form input {
	background-color: #373737;
	border: none;
	color: #f57514;
	font-size: 1.09em;/*12px======12px:11px*/
	font-weight: bold;
	padding: 9px 43px;
	border-radius: 2px;
	box-shadow: inset 1px 1px 1px 0 #2d2d2d,
				1px 1px 1px 0 #151515;	
	margin-left: 22px;
}
#nav {
	height: 60px;
}
#nav ul{
	list-style: none;
	overflow: hidden;
	line-height: 60px;
}
#nav ul li {
	float: left;
	margin-right: 3.27%;/*27px=====27px:820pxx100*/
}
#nav ul li a {
	font-size: 0.75em;/*12px=======12px:16px*/
	font-weight: bold;
	color: #fff;
	padding: 7px 20px;
	border-radius: 12px;
}
#nav ul li a:hover {
	background-color: #e46000;

}
#header {
	height: 300px;
	/*background-image: url(../images/header.png);
	background-repeat: no-repeat;
	background-position: -7px 100%;*/
}
#header .screen {
	width: 50.4%;/*427px*/
    height: 262px;
    float: left;
    margin-top: 38px;
}
#header .screen img {
	width: 100%;
	height: 100%;
}

#text {
	width: 47.68%;/*391px=====391:820px*/
    display: inline-block;
    margin-top: 75px;
    margin-left: 1.8%;
}
#header h1 {
	padding-bottom: 18px;
	border-bottom: 1px solid #ef8b21;
	border-bottom: 1px solid rgba (0, 0, 0, 0.03);
}
#header p {
	font-size: 0.875em;/*14px=======14:16px*/
	color: #353535;
	text-align: justify;
	padding-top: 16px;
	border-top: 1px solid #f89c39;
	border-top: 1px solid rgba (255, 255, 255, 0.1);
}

#content {
	
}
.row {
	overflow: hidden;
	margin: 45px 0;
}
.line {
	border-top: 1px solid #fbfbfb;
	border-bottom: 1px solid #f0f0f0;
}
.section1 {
	width: 26.85%;/*220px=======220px:820px*/
	float: left;
	margin-right: 9.72%;/*80px=======80px:820x100*/
}
.section1 h2 {
	background-repeat: no-repeat;
	padding-left: 60px;
	height: 44px;
}
.section1 p {
	margin: 15px 0 14px 0;
}
.section1 a {
	float: right;
}
#photography {
	background-image: url(../images/photography.png);
	background-repeat: no-repeat;
	padding-left: 60px;
}
#business {
	background-image: url(../images/business.png);
	background-repeat: no-repeat;
	padding-left: 60px;
}
#designing {
	background-image: url(../images/designing.png);
	background-repeat: no-repeat;
	padding-left: 60px;
}
.section1 h2 span {
	font-size: 0.7em;/*14px=====14:20px*/
	color: #707070;
	display: block;
}
.section2 {
	width: 48.78%;/*400px=====400:820px*/
	float: left;
	margin-right: 2.43%;/*20px=====20px:820pxx100*/
}
.section2 h3 {
	margin-bottom: 16px;
}
.section2 img {
	width: 100%;
	height: 100%;
}
.section2 .pic1,.pic2,.pic3,.pic4 {
	width: 190px;
	height: 51px;
	padding: 3px 3px;
	border: 1px solid #ececec;
	border-radius: 2px;
	display: inline-block;
}
#footer {
	background-color: #191919;
	height: 68px;
}

#footercontent {
	width: 57.5%;/*820px*/
	margin: 0 auto;
	overflow: hidden;
	line-height: 66px;
}
#footer img {
	vertical-align: middle;
	margin-right: 19px;
}
#footer .footer_nav {
	width: 270px;
	float: right;
}
#footer ul {
	list-style: none;
	float: right;
	line-height: 66px;
}
#footer ul li {
	float: left;
	margin-left: 10px;
}
#footer ul li a {
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 10px;
	color: #4a4a4a;
}

#footer span {
	font-size: 10px;
	font-weight: bold;
	color: #4a4a4a;
}
#footer ul li a:hover {
	color: #fff;
}

.marnone {
	margin-right: 0;
}	
/*================МЕДИА ЗАПРОССЫ==================*/
@media  screen and (max-width: 1170px) {
	#footercontent {
		line-height: 30px;
		text-align: center;
	}
	#footer ul {
		line-height: 30px;
	}
	#footer .footer_nav {
		float: none;
		margin: 0 auto;
	}

	
}